configuration {
    modes: "drun,run";
    font: "Iosevka Nerd Font Mono Bold 16";
    location: 6;
/*    yoffset: 0;*/
/*    xoffset: 0;*/
    fixed-num-lines: false;
    show-icons: true;
/*    preview-cmd: ;*/
/*    on-selection-changed: ;*/
/*    on-mode-changed: ;*/
/*    on-entry-accepted: ;*/
/*    on-menu-canceled: ;*/
/*    on-menu-error: ;*/
/*    on-screenshot-taken: ;*/
/*    terminal: "rofi-sensible-terminal";*/
/*    ssh-client: "ssh";*/
/*    ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";*/
/*    run-command: "{cmd}";*/
/*    run-list-command: "";*/
/*    run-shell-command: "{terminal} -e {cmd}";*/
/*    window-command: "wmctrl -i -R {window}";*/
/*    window-match-fields: "all";*/
/*    icon-theme: ;*/
/*    drun-match-fields: "name,generic,exec,categories,keywords";*/
/*    drun-categories: ;*/
/*    drun-exclude-categories: ;*/
/*    drun-show-actions: false;*/
    drun-display-format: "{name}[<span weight='light' size='small'> ({generic})</span>]: {exec}";
/*    drun-url-launcher: "xdg-open";*/
/*    disable-history: false;*/
/*    ignored-prefixes: "";*/
    sort: true;
    sorting-method: "fzf";
/*    case-sensitive: false;*/
/*    case-smart: false;*/
/*    cycle: true;*/
/*    sidebar-mode: false;*/
/*    hover-select: false; */
/*    eh: 1;*/
/*    auto-select: false;*/
/*    parse-hosts: false;*/
/*    parse-known-hosts: true;*/
/*    combi-modes: "window,run";*/
/*    matching: "normal";*/
/*    tokenize: true;*/
/*    m: "-5";*/
/*    filter: ;*/
/*    dpi: -1;*/
    threads: 2;
    scroll-method: 1;
/*    window-format: "{w}    {c}   {t}";*/
/*    click-to-exit: true;*/
/*    global-kb: false;*/
/*    max-history-size: 25;*/
/*    combi-hide-mode-prefix: false;*/
/*    combi-display-format: "{mode} {text}";*/
/*    matching-negate-char: '-' /* unsupported */;*/
/*    cache-dir: ;*/
/*    window-thumbnail: false;*/
/*    drun-use-desktop-cache: false;*/
/*    drun-reload-desktop-cache: false;*/
/*    normalize-match: false;*/
/*    steal-focus: false;*/
/*    application-fallback-icon: ;*/
/*    refilter-timeout-limit: 300;*/
/*    xserver-i300-workaround: false;*/
/*    completer-mode: "filebrowser";*/
/*    imdkit: true;*/
/*    pid: "/run/user/1000/rofi.pid";*/
/*    display-window: ;*/
/*    display-run: ;*/
/*    display-ssh: ;*/
/*    display-drun: ;*/
/*    display-combi: ;*/
/*    display-keys: ;*/
/*    display-filebrowser: ;*/
/*    display-recursivebrowser: ;*/
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
